* {
  box-sizing:border-box; /* account for border + padding to total width for parent container */
}

/* COLOR PALETTE: https://colorhunt.co/palette/9adcfffff89affb2a6ff8aae */

/* heebo-700 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/heebo-v21-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/heebo-v21-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  background-color: rgba(154,220,255,1);
}

body {
  height:100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Heebo';
  justify-content:center;
  align-items:center;
  color: rgba(0,0,0,1)
}

h1 {
  font-size: 5em;
  margin: 0;
}

article{
  transition: 1s;
  background: rgba(255,138,174,1);
  box-shadow: 0.5em 0.75em rgba(0,0,0,0.6);
  display:flex;
  flex-direction:column;
  align-items:center;
  margin: 0;
  width: 35vw;
  border-radius: 1em;
  padding: 1.5em
}

article:hover {
  transform: scale(1.05);
  /* transform: rotateY(180deg); */
}

/* image front page */
img {
  width: 30vw;
  position:relative;
  border-radius: 0.5em;
}

/* text first front page */
p { 
  margin:0
}

.textAboutMyself{
  display: flex;
  flex-direction: column;
  width: 37vw;
  padding: 2em;
  padding-top: 0.5em;
  padding-bottom: 0;
}

.textAboutMyself p{
  font-size: 1em;
}

.button{
  align-self: center;
  width: 4vw;
  padding: 0.5em;
  border: none;
  border-radius: 1em;
  background-color: rgba(255,248,154,1);
  transition: 0.75s;
  box-shadow: 0.1em 0.25em rgba(0,0,0,0.7);
  margin-top: 1vw;
}

.arrowDown{
  width: 2vw;
}

/* button hovered changes background color and size */
.button:hover{
  background-color: red;
  transform: scale(1.1);
}

/* button clicked scales it to 1.25 size */
.button:focus{
  transform: scale(1.25);
}

/* the more text under id more is not showing */
#more{
  display: none;
  transition: 1s;
}
